.about {
    padding: 80px 0;
    display: flex;
    flex-flow: row wrap;
    h3 {
        flex: 1 0 100%;
        text-align: center;
    }
    div {
        flex: 1 0 50%;
    }
    &__adjectives {
        display: flex;
        flex-flow: row wrap;
        flex: 1 0 50%;
        justify-content: space-around;
    }
    &__bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        text-align: center;
        & > * {
            flex: 0 0 auto;
            margin-bottom: 20px;
        }
    }

}
.adjectives__img {
    padding: 20px;
}
.adjectives__cap {
    font-family: $sanserif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}