footer {
    display: flex;
    padding: 80px 20px 20px 20px;
    @include sizing(1.3rem, 2.6rem);
}

.footer {
    &__wrapper {
        h4 {
            margin-bottom: 20px;
        }
        display: flex;
        & > div {
            margin: 20px;
        }
        & > .footer__contact {
            flex: 1 0 calc(30% - 40px); 
        }
        & > .footer__about,
        & > .footer__instagram {
            flex: 1 0 calc(70% / 2 - 40px);
        }
    }
    
    &__contact {
        .subscription {
            @include flex(row);
            margin-top: 20px;
            border: 1px $white solid;
            &__input, &__submit {
                color: $white;
                font-size: 1.1rem;
                background-color: transparent;
            }
            &__input {
                flex: 1 0 calc(100% - 25px);
                padding: 5px;
            }
            &__submit {
                flex: 0 0 20px;
            }
        }
    }

    &__instagram {
        @include flex(row);
        .instagram__gallery {
            @include flex(row);
            .gallery__item {
                flex: 1 0 25%;
                padding: 5px;
            }
        }
    }

    &__navbar {
        margin: 40px 0;
        width: 100%;
        @include flex(row);
        * {
            margin: 5px;
        }
        h3 {
            flex: 1 0 100%;
        }   
        ul {
            padding: 0 20%;
            width: 100%;
            @include flex(row);
            justify-content: space-evenly;
        }
    }

    &__socialmedia {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
        padding: 0;
        width: min-content;
        font-size: 2.0rem;
        * {
            margin: 10px 0;
        }
    }

    &__copyright {
        width: 100%;
        text-align: center;
    }

}
