header {
    height: 98vh;
    color: #fff;
    background-color: $yellow;
    background: url($headerbg) right;
    background-size: cover;
    // background-attachment: fixed;

    & > .container {
        @include flex(column);
        height: 100%;
    }
}

nav {
    @include flex(row);
    justify-content: space-between;
    margin-top: 0px;
    & > * {
        flex: 1 0 50%;
    }
    label, #toggle {
        display: none;
    }

}

.navbar {
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    &__link {
        @include heading(1.4rem);
    }
}

.hero {
    width: 100%;
    margin: auto;

    * {
        margin: 10px 0;
    }
}

@media (max-width: 850px) {
    nav {
        @include flex(row);
        margin-top: 0;
        & > * {
            flex-basis: 100%;
        }
    }    
    .navbar {
        width: fit-content;
        @include flex(row);
        justify-content: flex-start;
        li {
            flex: 0 1 fit-content;
        }
    }
    .hero {
        text-align: right;
    }
}

@media (max-width: 635px) {
    header {
        // * { border: 0.25px dotted red; }
        position: relative;
        border: 20px solid #fff;
    }
    nav {
        @include flex(row);
        justify-content: space-between;
        align-items: flex-start;
        & > * {
            flex: 0 1 50%;
        }
        h1 {
            margin: 0;
        }
        label {
            display: flex;
            justify-content: flex-end;
            font-size: 3.0rem;
            z-index: 99;
        }
        .navbar {
            display: block;
            position: absolute;
            top: 0;
            right: -100%;
            margin: 0;
            padding: 100px 22px;
            width: 50%;
            height: 100%;
            text-align: right;
            background-color: #ffffff3d;
            transition: right 0.3s;
            & > li > .navbar__link {
                @include sizing(2.0rem, 4.0rem);
            }
        }
        #toggle:checked + .navbar {
            right: 0;
        }
    }
    .hero {
        text-align: center;
    }
}

