header {
    height: 98vh;
    color: #fff;
    background-color: $yellow;
    background: url($headerbg) right;
    background-size: cover;
    // background-attachment: fixed;

    & > .container {
        @include flex(column);
        height: 100%;
    }
}

nav {
    @include flex(row);
    justify-content: space-between;
    margin-top: 50px;
    & > * {
        flex: 1 0 50%;
    }
}

.navbar {
    @include flex(row);
    align-items: center;
    justify-content: space-between;

    &__link {
        @include heading(1.4rem);
    }
}

.hero {
    width: 100%;
    margin: auto;

    * {
        margin: 10px 0;
    }
}