//////////// ABOUT US ////

.about {

    padding: 80px 0;

    & > .container {
        @include flex(row);
        h3 {
            flex-basis: 100%;
            padding-bottom: 50px;
            text-align: center;
        }
        .about__adjectives, .about__bio {
            flex: 1 0 50%;
        }
    }
    &__adjectives {
        @include flex(row);
        flex: 0 0 100%;
        justify-content: space-around;
    }
    &__bio {
        margin: auto;
        width: 100%;
        @include sizing(1.8rem, 3.0rem);
        text-align: center;
        & > .center > * {
            margin: 20px auto;
        }
    }
}

.adjectives {
    &__img {
        flex: 0 0 50%;
        padding: 25px 0;
    img {
        width: 95px;
        margin: auto;
    }
    figcaption {
        margin-top: 20px;
    }
}
    &__cap {
        @include heading(1.8rem);
        text-align: center;
    }
}

@media (max-width: 850px) {
    .about {
        & > .container {
            @include flex(column);
        }
        &__adjectives {
            margin-bottom: 30px;
        }
        &__bio {
            h4, p {
                display: none;
            }
            .about__btn::after {
                content: " about us";
            }
        }
    }
    .adjectives {
        &__img {
        flex: 0 0 25%;
        padding: 25px 0;
        }
    }
}


//////////// WELCOME ////

.welcome {
    @include flex(column);    
    h3 {
        flex-basis: 100%;
    }
    & > .container {
        margin: 100px auto;
        padding: 0 60px;
        @include sizing(1.8rem, 3.0rem);
        text-align: center;
        * {
        margin: 30px 0;
        }
        .btn {
            margin: auto;
        }
    }
}


//////////// SERVICES ////

.services {
    padding: 80px 0;
    & > .container {
        @include flex(row); 
        h3 {
            width: 100%;
            margin-bottom: 80px;
        }
    }
    &__service {
        flex: 1 0 50%;
        margin: auto;
        height: 100%;
        @include sizing(1.4rem, 1.8rem);
        text-align: center;
        .center {
            padding: 0px 50px;
            h4 {
                margin-bottom: 20px;
            }
        }
        &--right {
            order: 99;
        }
    }
}

@media (max-width: 635px) {
    .services {
        & > .container {
            @include flex(row);
            * {
                flex-basis: 100%;
                padding: 0 5%;
            }
            h3 {
                order: -2;
            }
        }
        &__service {
            &--top {
                order: -1;
            }
            &--hide {
                display: none;
            }
            p {
                text-align: left;
            }
        }
    }
}


//////////// REVIEWS ////

.reviews {
    & > .container {
        padding: 80px 0;
        display: flex;
        text-align: center;
        @include sizing(1.4rem, 2.2rem);

        h3 {
            flex-basis: 100%;
            margin-bottom: 50px;
        }
        figure {
            display: flex;
            align-items: center;
        }
        img {
            width: 95px;
        }
        
        figure i {
            margin: 30px;
            font-size: 3.0rem;
        }
        
        figure, p {
            margin: 15px auto;
        }

        p {
            padding: 0 20%;
        }
        

        p:last-child::before,
        p:last-child::after {
            content: " ~ ";
        }
    }
}

@media (max-width: 850px) {
    .reviews {
        & > .container {
            p {
                padding: 0 10%;
            }
        }
    }
}

//////////// EVENTS ////

.events {
    @include flex(row);
    justify-content: center;
    padding: 80px 0;
    h3 {
        margin-bottom: 80px;
        flex-basis: 100%;
    }
    ul {
        @include flex(row);
    }
    li {
        flex: 1 0 33%;
        display: flex;
    }
    a {
        display: flex;
        position: relative;
        align-items: stretch;
        .events__img {
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .events__txt {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10%;
            width: 100%;
            height: 100%;
            z-index: 1;
            .center {
                margin: auto;
                text-align: center;
                @include sizing(1.4rem, 2.2rem);
                h3 {
                    margin: 0 auto;
                    margin-bottom: 10px;
                    padding: 20px 30px;
                    width: fit-content;
                    border-bottom: 2px solid $white;
                }
            }
        }
        &:hover .events__txt {
            display: block;
            color: $white;
            background-color: #2a2a2ae6;
        }
    }
    & > .events__btn {
        display: none;
    }   
}

@media (max-width: 850px) {
    .events {
        ul {
            @include flex(column);
            li {
                flex: 1 1 100%;   
                margin: auto;
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }
        & > .events__btn {
            display: inline-block;
            width: fit-content;
            margin-top: 40px;
        }   
    }
}

//////////// QUESTION ////

.question {
    margin-bottom: 80px;
    & > .container {
        @include flex(row);
        h3 { 
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
    .question {
        &__form {
            @include flex(column);
            width: 100%;
        }
        &__input {
            margin-bottom: 40px;
            margin-right: 20%;
            margin-left: 20%;
            padding: 10px;
            flex-basis: 100%;
            font-size: 1.6rem;
            border-bottom: 1px $grey solid;
            text-align: center; 
        }
    }
}

@media (max-width: 635px) {
    .question {
        & > .container .question {
            &__input {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}

//////////// STATS ////

.stats {
    padding: 80px 0;
    & > .container {
        display: flex;
        flex-flow: row wrap;
    }
    &__item {
        flex: 1 0 25%;
        text-align: center;
        text-transform: capitalize;
        * {
            margin: 5px 0;
        }
        i, .stats__record {
            display: block;
            color: $grey;
        }
        i {
            font-size: 4.0rem;
            margin-bottom: 15px;
        }
        .stats__record {
            @include heading(2.0rem)
        }
    }
}

//////////// BLOG ////

.blog {
    padding: 80px 0;
    & > .container {
        @include flex(row);
        h3 {
            flex-basis: 100%;
            margin-bottom: 40px;
        }
    }
    &__post {
        display: block;
        margin: 0px 10px;
        flex: 1 0 calc(100% / 3 - 20px);
    }
    &__wrapper {
        @include heading(1.6rem, 0px);
        text-transform: capitalize;
    }
    &__img {
        width: 100%;
    }
    &__img *, .blog__more {
        margin-bottom: 10px;
    }
    &__more::before {
        content: "read more »";
        color: $red;
        @include heading(1.2rem, 0px);
        text-transform: uppercase;
    }
}

@media (max-width: 635px) {
    .blog {
        &__post {
            flex-basis: 60%;
            margin: 10%;
            height: 50%;
            &:last-child {
                display: none;
            }
            .blog__wrapper {
                position: relative;
            }
            .read__wrapper {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 30%;
                width: 100%;
                height: 100%;
                background-color: #ffffffcc;
                p {
                    margin: auto;
                    font-size: 2rem;
                    text-align: center;
                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &__more::before {
        color: $red;
        @include heading(2rem, 0px);
        text-transform: uppercase;
        }
        & > .container > .blog__post:hover .read__wrapper {
                display: block;
            }   
        
    }
}
