.welcome,
.stats {
    background-color: $yellow;
}

.reviews,
footer {
    color: $white;
    background-color: $grey;
}

.btn {
    display: inline-block;
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    color: $white;
    font-family: $sanserif;
    text-transform: uppercase;
    letter-spacing: 2px;
    &--red {
        background-color: $red;
    }
    &--grey {
        background-color: $grey;
    }
    &--inline {
        display: inline;
    }
}

form, input, button {
    display: block;
    border: none;
}