html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: $serif;
}

h1 {
    @include heading(3.0rem);
}

h2 {
    @include heading(4.4rem);
}

h3 {
    @include heading(2.8rem);
    text-align: center;
}

h4 {
    @include heading(2.0rem);
}

h5 {
    @include heading(1.8rem);
}

h6 {
    @include heading(1.2rem);
}

em {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}
