$yellow: #e5bf4b;
$red: #da331d;
$red-light: #da331d3d;
$grey: #2a2a2a;
$white: #ffffffcc;

$serif: "Lora", serif;
$sanserif: "Raleway", sans-serif;

$headerbg: "../assets/image-1.jpeg";

@mixin heading($size, $spacing: 1px) {
    font-size: $size;
    font-family: $sanserif;
    font-weight: 600;
    letter-spacing: $spacing;
    text-transform: uppercase;
}

@mixin sizing($size, $lineheight) {
    font-size: $size;
    line-height: $lineheight;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
}