article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

body {
  margin: 0;
  padding: 0; }

.wrapper, .container {
  margin: 0 auto; }

.wrapper {
  width: 1440px; }

.container {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.center {
  margin: auto; }

ul {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Lora", serif; }

h1 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }

h2 {
  font-size: 4.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }

h3 {
  font-size: 2.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center; }

h4 {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }

h5 {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }

h6 {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  color: inherit;
  text-decoration: none; }

.welcome,
.accolades {
  background-color: #e5bf4b; }

.reviews,
footer {
  color: #fff;
  background-color: #2a2a2a; }

header {
  height: 98vh;
  color: #fff;
  background-color: #e5bf4b;
  background-image: url("../assets/image-1.jpeg");
  background-size: 100%;
  background-attachment: fixed; }
  header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .navbar__link {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }

.hero {
  width: 100%;
  margin: auto; }

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .btn--red {
    background-color: #da331d; }
  .btn--grey {
    background-color: #2a2a2a; }

.about > .container {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .about > .container h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    text-align: center; }
  .about > .container div {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%; }

.about__adjectives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.about__bio {
  margin: auto;
  width: 100%;
  text-align: center; }
  .about__bio > div > * {
    margin: 10px auto; }

.adjectives__img {
  padding: 20px; }

.adjectives__cap {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }

.welcome {
  text-align: center; }

.services > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .services > .container h3 {
    width: 100%; }
  .services > .container__service {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    text-align: center; }
    .services > .container__service > * {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .services > .container__service--right {
      -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
      order: 99; }
  .services > .container > figure > img {
    width: 100%; }

.reviews {
  padding: 0 100px;
  text-align: center; }
  .reviews > p:last-child::before,
  .reviews > p:last-child::after {
    content: " ~ "; }

.blog__post {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 33%;
  flex: 1 0 33%; }

.blog__img {
  width: 100%; }

.blog img {
  width: 100%; }

.blog__more::before {
  content: "read more >>";
  text-transform: uppercase; }

.footer__socialmedia {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  padding: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content; }
